{% extends 'base.html' %}

{% block title %}{{ user }}'s Cookbooks{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s4">
      <br>
      <h3 class="center-align">Your Cookbooks</h3>
      {% for cookbook in object_list %}
        <div class="center-align collection">
          <a href="{% url 'list_recipes' cookbook.pk %}" id="collection-word" class="collection-item">{{ cookbook.name }}</a>
        </div>
      {% endfor %}
        <div class="center-align">
         <a data-target="modal1" class="btn orange modal-trigger">Create Cookbook</a>
        </div>
        <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Give your cookbook a name</h4>
        <form method="post" action="{% url 'create_cookbook' %}">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Create Cookbook" class="waves-effect waves-light orange btn">
        </form>
      </div>
    </div>
    </div>
    <div class="col s1">
      <br>
    </div>
    <div class="col s7">
      <br>
      <h3 class="center-align">Your Saved Recipes</h3>
      {% for favorite in favorites %}
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Image</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{% url 'detail_recipe' favorite.pk %}" id="favorite-title">{{ favorite.title }}</a></td>
              <td><img src="{{ favorite.image.url }}" height="150" width="200"></td>
            </tr>
          </tbody>
        </table>
        <span>
      {% endfor %}
    </div>
  </div>
</div>
{% block extrascript %}
  <script src="http://d36qkdzj2aieo9.cloudfront.net/static/js/materialize.min.js"></script>
  <script src="http://d36qkdzj2aieo9.cloudfront.net/static/js/jquery-2.2.3.min.js"></script>
  <script type="application/javascript">
    $(document).ready(function(){
    $('.modal-trigger').leanModal();
  });
  </script>
{% endblock %}
<br><br><br><br><br><br><br><br><br><br>
{% endblock %}
